{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="d-flex flex-column pb-3">
        <img class="img-fluid mx-auto d-block" src="{% static 'witch_logo.png' %}" alt="codingwitchproject logo" width="72" height="72">
    </div>

    <h1 class="display-4">CodingWitchProject</h1>
    <p class="lead">Learn to craft great products using your coding wizardry!</p>
</div>

<hr>
<div class="container">
    <div class="d-flex flex-column">
        <h3>Registered Users</h3>
            
    {% for user in users %}
        <p>{{ user.username }}</p>
    {% endfor %}
    </div>
</div>

        
   

{% endblock content %}