<!DOCTYPE html>
<html>


    <head>
        <title>The head.</title>


        {%  if request.user.is_authenticated %}
            <p>Hello, {{ request.user.username }}</p> | <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <p><a href="{% url 'register' %}">Register</a> | <a href="">login</a></p>
        {% endif %}
    
    </head>


    <body>
       
        {% block content %}
        
        {% endblock content %}

    </body>

    <footer>
        <h4>this is the footer.</h4>
    </footer>
</html>